/* Color Palette found: http://paletton.com/palette.php?uid=53p0V0kno-e9AUeh-JpuLumvIjU */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  background-color: rgb(51, 142, 172);
  position: fixed;
}

h1 {
  text-align: center;
}

#hiddenButton {
  border-radius: 0.5em;
  transition: background-color 0.2s linear;
  border: 2px solid rgba(255, 190, 115, 0.8);
  background-color: rgba(255, 190, 115, 0.7);
}

#hiddenButton:hover {
  background-color: rgba(255, 220, 179, 0.7);
}

#addItemButton {
  border-radius: 0.5em;
  transition: background-color 0.2s linear;
  border: 2px solid rgba(255, 190, 115, 0.8);
  background-color: rgba(255, 190, 115, 0.7);
}

#addItemButton:hover {
  background-color: rgba(255, 220, 179, 0.7);
}

#list-container {
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: rgba(182, 242, 109, 0.7);
  border-radius: 1em;
  overflow-y: scroll;
}

.list-header {
  width: 45%;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0px;
}

.list-header input {
  width: 100%;
  margin: 30px auto;
  font-size: 35px;
  text-align: center;
  background-color: rgb(51, 142, 172);
  border: rgb(51, 142, 172);
}

.list-item {
  cursor: pointer;
  width: 85%;
  display: block;
  margin: 5px;
  border-bottom: 1px solid black;
  padding: 5px;
  list-style: none;
  font-size: 17px;
}
.list-item .check {
  margin: 5px;
}
.list-item .text {
  width: 80%;
  background: transparent;
  background-color: rgba(76, 152, 109, 0);
  border: rgba(76, 152, 109, 0);
}

.deleteIcon {
  font-size: 18px;
  margin-left: 20px;
  opacity: 0.4;
  cursor: pointer;
}

.strikeToggle {
  opacity: 0.3;
  text-decoration: line-through;
}

.hiddenToggle {
  display: none;
}


/* CSS Animation Section */

.clouds {
  width: 100%;
  height: 200px;
  position: absolute;
  background: transparent url(../_assets/img/front_cloud.png) 0 0 no-repeat;
}

.cloudA {
  top: 100px;
  z-index: -100;
  /* animation syntax shorthand: name duration timing-function delay iteration-count direction fill-mode */
  -webkit-animation: drift 30s linear infinite;
  -moz-animation: drift 30s linear infinite;
  -o-animation: drift 30s linear infinite;
  animation: drift 30s linear infinite;
}

.cloudB {
  top: 240px;
  z-index: -200;
  -webkit-animation: drift 35s linear 10s infinite backwards;
  -moz-animation: drift 35s linear 10s infinite backwards;
  -o-animation: drift 35s linear 10s infinite backwards;
  animation: drift 35s linear 10s infinite backwards;
}

.cloudC {
  top: 440px;
  z-index: -300;
  -webkit-animation: drift 45s linear 20s infinite backwards;
  -moz-animation: drift 45s linear 20s infinite backwards;
  -o-animation: drift 45s linear 20s infinite backwards;
  animation: drift 45s linear 20s infinite backwards;
}

@-webkit-keyframes drift {
  from{transform: translateX(-300px);}
  to{transform: translateX(1400px);}
}

@-moz-keyframes drift {
  from{transform: translateX(-300px);}
  to{transform: translateX(1400px);}
}

@-o-keyframes drift {
  from{transform: translateX(-300px);}
  to{transform: translateX(1400px);}
}

@keyframes drift {
  from{transform: translateX(-300px);}
  to{transform: translateX(1400px);}
}
